---
title: Back-ends? Where we're going, we don't need...back-ends.....
date: June 10, 2016
sortableDate: 06/10/2016
layout: article.jade
snippet: I got to present a variation of my static site generator talk at Chicago Coder Conference this year. Here are the slides!
url: blog/2016/06/chicago-coder-conference
draft: false
---

p I got to present at this year's Chicago Coder Conference, about static site generators and the "JAM stack." This is a talk
    | I've been doing variations of here and there for about six months. It was the first time I've been lucky enough to 
    | present at a conference. 
p I had a great time! I was a bit disheartened by the fact that I'd been time-slotted up against Uncle Bob, and I even told
    | everyone I met the first day of the conference that they should go listen to him instead of me. It was an honor to be speaking
    | at the same venue as him, he is an amazing speaker and a role model for me. I just wish I hadn't had to compete with him for listeners....
p Still, I had about 15 people come hang out and listen to me. I had great conversation with several of them before and after my talk. I've been going into
    | these things with the thought that if I get two people to legitimately listen to what I have to say, and I can legitimately help them, it is a win.
    | In this case, I think I definitely met that goal, and I am pretty hungry to speak again soon.
p As much as I hate taking selfies, I did convince myself to take one on my way out of town. The squatty looking building in the background, 
    | the Gleacher Center, is where I spoke.
p 
    img(src='../../../../static/images/chicagocoderconf.jpg')
h4 Slides
p Anyway, 
    a(href='../../../../static/other/backends.pptx') Here are my slides from the talk. 
    | They don't work very well on SlideShare because of all the animations, 
    | so here they are in all their PowerPoint glory. 

