doctype html
html(lang="en")
    head
        title= title
            |  - Steven J Hicks
    body
        .container
            .row       
                h1= title
                div.timestamp= date
                article!= contents