doctype html
html(lang="en")
    head
        block title
            title Steven J Hicks
            meta(name='description', content='Ramblings on development, life, and the development life. By Milwaukee developer Steven J Hicks.')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='robots', content='noindex')
        meta(http-equiv='refresh', content='0;url=https://stevenhicks.me/#{url}/')

        link(rel='canonical', href='https://stevenhicks.me/#{url}')
        link(rel='stylesheet', href='/static/css/site.css')
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css')
    body
        .container
            h2 This page has been moved 
                a(href='') here.
        script.
            window.location.replace('https://stevenhicks.me/#{url}');
