doctype html
html(lang="en")
    head
        block title
            title Steven J Hicks
        link(rel='stylesheet', href='/css/site.css')
    body
        .container
            .row       
                block content
                    