---
title: The Rock Lobster Project
date: April 5, 2016
sortableDate: 04/05/2016
layout: article.jade
snippet: In my quest to learn a next-gen front-end JavaScript framework, I'll be building something, and telling you about it along the way.
url: blog/2016/04/rock-lobster-intro
tags: rocklobster
draft: true
---
h3 React vs Ember
p I have identified my finalists for my new favorite front-end JavaScript framework. React is all the hotness, but has a steep setup curve. Ember is the underdog, but goes from 0 to started in no time at all.
    | There can be only one, so I'm going to pit them against each other and see who wins.  
h4 The project
p One of the struggles I face, on a nearly daily basis, is the lack of a good iPhone music player app. Seriously. I have several demands:
    ul 
        li Must be able to queue music instead of play immediately
        li Must be able to view recently played music so that I don't have to dig through the catalog when the app starts up to find what I was last listening to
        li Must be able to scrobble because I like to look at charts about what I've been listening to
        li Must not have that awful iOS tiny alpha-nav on the right side to search through names because who can use that thing with any accuracy?
        li Must not require me to identify an album or artist by a picture because who can identify an album from a tiny picture of its cover?
p So anyway, for the lack of anything better to build, I'm going to build a browser-based "media player". I know I won't be able to use it from my phone the way that I want, but honestly by the time I finish
    |  it in ten years...maybe I will. This project is going to be named Rock Lobster, because (a) 
    a(href='https://www.youtube.com/watch?v=shBdbm7BNw0') it is a wonderful song
    | , (b)    
    a(href='https://www.youtube.com/watch?v=KrEID9M_HBs') which has been covered wonderfully
    | , and (c) I said so.
p First up - project setup. Setting things up with React made me want to not use React the last time, but this time I had an idea. 
    a(href='/blog/2016/04/rock-lobster-setup-react') Let's see how that goes!    
