---
title: Setting up Rock Lobster (Ember)
date: April 11, 2016
sortableDate: 04/11/2016
layout: article.jade
snippet: React setup was pretty easy this time. Ember says it's "more productive out of the box," so it should be even easier. Let's find out if it is!
url: blog/2016/04/rock-lobster-setup-ember
tags: rocklobster, ember
draft: true
---
h3 One place to start
p With React, I wasn't quite sure where to start. With Ember, it's a different story. The  
    a(href='https://guides.emberjs.com/v2.4.0/getting-started/quick-start/') Quick Start page 
    | on Ember's website sets me on my way.
h3 Zero to app in under a minute 
p Two commands is all it takes. First, we have to install Ember....
    pre npm install -g ember-cli 
p And then we create our app.
    pre ember new rock-lobster-ember
h3 And um...that's it.
p We can run our app via 
    pre cd rock-lobster-ember
        | ember serve
    | and we are in business.
    | [INSERT DANCING BANANA]
h3 The verdict - This is just stupid easy
p React was pretty easy once I realized I should use yeoman. Ember was stupid easy, and it was easy to figure out where to start. Advantage Ember, though not by nearly as much as I thought I would be saying.
p Next time, we actually make it do something!