.jumbotron
  h1 pleepleus88.github.io
  .lead Steven Hicks is a curious guy.
.row
  .col-lg-4
    .well
      h4 I will put some TDD resources here.
      ul
        li like this one
        li and this one
        li and this one
footer 
  h6 I built this site with Harp.