.jumbotron
  h1 pleepleus88.github.io
  .lead Steven Hicks is a curious guy.
.row
  .col-lg-6
    .well
      h4 Things I like
      ul
        li Clean code
        li Readability
        li Maintainability
        li TDD
  .col-lg-6
    .well
      h4 Things I know
      ul
        li C#
        li JS
        li SQL
      
      
footer 
  h6 I built this site with Harp.