---
title: Steven J Hicks
date: 2016-01-19 09:00
layout: home.jade
---

.jumbotron
  h1 pleepleus88.github.io
  h2 Steven J Hicks
  .lead Crushing 1s and 0s since 1999.
.row
  .col-lg-12
    h4 Recent Stuff
      article
        h1 Static Site Generators Are The New WordPress.
        p I recently presented at MKE Web Pros, about static site generators. 
            a(href='/presentations/staticgen') Here's some info about it.
        