---
title: Steven J Hicks
date: 2016-01-19 09:00
template: home.jade
---

.jumbotron
  h1 pleepleus88.github.io
  h2 Steven Hicks
  .lead Crushing 1s and 0s since 1999.
.row
  .col-lg-6
    .well
      h4 Things I like
      ul
        li Solving problems
        li Clean code
        li Readability
        li Maintainability
        li TDD
  .col-lg-6
    .well
      h4 Things I know
      ul
        li C#
        li JS
        li SQL
        li How to solve a problem
        li That there are a lot of things I don't know
.row
  .col-lg-12
    .well
      h4 Things I believe
      ul
        li Code is communication. Between you and the compiler, but more importantly between you and the next person to read the code. Write code for them to read, not you. 
        li Clean code is simple, elegant, clear, and readable. Dirty code is difficult to read, stressful, expensive to maintain, and error prone. Strive for clean code, even if it is only one method at a time.
        li Comments don't excuse tricky code. Rather than explaining difficult logic with 5 lines of comments, extract the trickiness to a descriptively named method or variable, and let the code document itself.
        li Follow the "boy scout rule". Always leave the code cleaner and easier to read than when you found it.
        li As developers, we spend a lot of time trying to make things small. The length of a variable name should not be one of those things. Short names are generally ambiguous, longer names are generally more clear.
        li Code should read more like a choose your own adventure book, and less like War and Peace. When a method or class grows too large, break it into smaller pieces. There's no exact definition on what is "too large", but if you're scrolling to read one method, that's a hint.
        li Comments lie. Your IDE's refactoring tools don't keep them up to date, and you don't either - once you understand a piece of code, you never even read the comments anymore. Use comments sparingly, and only if they are truly adding value.
footer 
  h6 I built this site with 
    a(href='http://www.metalsmith.io/') metalsmith.io.