---
title: Steven J Hicks
date: March 19, 2016
layout: home.jade
url: ''
---

.row
  .col-lg-12
    h4 Recent Stuff
    each article in collections.articles
      article.content-article
        header
          h2
            a(href='/' + article.url)= article.title
          h6= article.date
          p= article.snippet
          p
            a(href='/' + article.url) Read about it!

